html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input, select{vertical-align:middle;}
body{font:13px/1.231 sans-serif;*font-size:small;}
select, input, textarea, button{font:99% sans-serif;}
pre, code, kbd, samp{font-family:monospace, sans-serif;}
html{overflow-y:scroll;}
a:hover, a:active{outline:none;}
ul, ol{margin-left:2em;}
ol{list-style-type:decimal;}
nav ul, nav li{margin:0;list-style:none;list-style-image:none;}
small{font-size:85%;}
strong, th{font-weight:bold;}
td{vertical-align:top;}
sub, sup{font-size:75%;line-height:0;position:relative;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;padding:15px;}
textarea{overflow:auto;}
.ie6 legend, .ie7 legend{margin-left:-7px;}
input[type="radio"]{vertical-align:text-bottom;}
input[type="checkbox"]{vertical-align:bottom;}
.ie7 input[type="checkbox"]{vertical-align:baseline;}
.ie6 input{vertical-align:text-bottom;}
label, input[type="button"], input[type="submit"], input[type="image"], button{cursor:pointer;}
button, input, select, textarea{margin:0;}
input:valid, textarea:valid{}
input:invalid, textarea:invalid{border-radius:1px;-moz-box-shadow:0px 0px 5px red;-webkit-box-shadow:0px 0px 5px red;box-shadow:0px 0px 5px red;}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid{background-color:#f0dddd;}
::-moz-selection{background:#FF5E99;color:#fff;text-shadow:none;}
::selection{background:#FF5E99;color:#fff;text-shadow:none;}
a:link{-webkit-tap-highlight-color:#FF5E99;}
button{width:auto;overflow:visible;}
.ie7 img{-ms-interpolation-mode:bicubic;}
body, select, input, textarea{color:#444;}
h1, h2, h3, h4, h5, h6{font-weight:none;}
a, a:active, a:visited{color:#607890;}
a:hover{color:#036;}
body{width:950px;margin:10px auto 5px auto;padding:10px 10px 0 10px;background:#96e4ef;font-family:Helvetica Neue, Helvetica, Arial, sans-serif;border:1px dashed #ffffff;}
.wrapper{width:950px;margin:auto;}
a{color:#000000;}
a:hover{color:#736653;}
nav, header, footer{clear:both;overflow:hidden;}
nav{margin-right:auto;margin-left:auto;font-size:14px;text-align:center;}
nav li{display:inline;margin-right:10px;margin-left:10px;list-style-type:none;}
nav li a{color:#736689;font-weight:bold;text-decoration:none;border-bottom:1px solid #736689;}
nav li a:hover{border-bottom:1px dashed #ffffff;}
h1 a{display:block;height:300px;width:950px;text-indent:-10000em;}
header{background:url("../images/gm-script.png") no-repeat scroll 0 0 transparent;clear:both;}
header h2{height:40px;width:225px;margin:-80px auto 30px auto;text-align:center;font-family:Cambria,'Times New Roman','Nimbus Roman No9 L','Freeserif',Times,serif;font-weight:bold;font-style:italic;font-size:1.2em;line-height:40px;border:2px dashed #ffffff;}
header h2:hover{background-color:#ffffff;border:2px dashed #96e4ef;}
header h2 a{color:#735563;}
header h2 a:hover{color:#735563;}
header h3{width:200px;height:75px;float:left;margin-top:-85px;margin-bottom:5px;border:1px dotted #ffffff;}
header #outstats{float:right;}
header h3 a{display:block;width:200px;color:#736689;text-align:center;font-family:Cambria,'Times New Roman','Nimbus Roman No9 L','Freeserif',Times,serif;font-style:italic;font-weight:bold;font-size:1.3em;line-height:2em;}
header h3 a:hover{color:#736689;}
form{margin-top:-3px;}
#incontainer{float:left;}
textarea{background-color:#fffffff;font-size:14px;text-align:left;line-height:2em;border:2px solid #ffffff;padding:3px;}
#outcontainer{float:right;}
.button{width:130px;margin-right:auto;margin-left:auto;padding-top:80px;}
.button a{background:url("../images/gosprite.png") no-repeat scroll 0 0 transparent;display:inline-block;height:130px;width:130px;text-indent:-10000em;}
.button a:hover{background:url("../images/gosprite.png") no-repeat scroll 0 -129px transparent;}
footer{color:#000000;font-size:11px;line-height:1.3em;margin:2px auto 0 auto;padding-top:10px;}
footer h3{width:400px;text-align:right;float:right;margin-top:5px;}
footer a{color:#736653;text-decoration:none;}
footer a:hover{border-bottom:1px solid #c56342;color:#000000;}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;}
.hidden{display:none;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before, .clearfix:after{content:"\0020";display:block;height:0;overflow:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
@media all and (orientation:portrait){}
@media all and (orientation:landscape){}
@media screen and (max-device-width:480px){}
@media print{*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;}
a, a:visited{color:#444 !important;text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
abbr[title]:after{content:" (" attr(title) ")";}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after{content:"";}
pre, blockquote{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;}
tr, img{page-break-inside:avoid;}
@page{margin:0.5cm;}
p, h2, h3{orphans:3;widows:3;}
h2, h3{page-break-after:avoid;}
}